@page  "/ShowAllSupervisors"
@namespace Shift_Picker.Components
@inherits Shift_Picker.Components.AllSupervisorsVM
<h3>AllSupervisors</h3>

<p>
    <a>All Supervisors</a>
</p>
@if (AllUsers == null)
{
    <div class="spinner-border text-primary"></div>
}
@if (AllUsers.Count == 0)
{
    <p> There are No Supervisor right now</p>
    
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    FirstName
                </th>
                <th>
                    LastName
                </th>
                <th>
                    Username
                </th>
                <th>
                    Password
                </th>
                <th>
                    Email
                </th>
                <th>
                    Address
                </th>
                <th>
                    Action
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in AllUsers)
            {
                <tr>
                    <td>
                        @user.FirstName
                    </td>
                    <td>
                        @user.LastName
                    </td>
                    <td>
                        @user.UserName
                    </td>
                    <td>
                        @user.Password
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.Address, @user.City, @user.State, @user.Zip, @user.Country
                    </td>
                    <td>
                        @if (user.Id != LoggedInUser.User.Id)
                        {
                            <a class="btn btn-primary" href="employee/edit/@user.Id">Edit</a>
                            @if (user.isActive)
                            {
                                <button class="btn btn-primary" @onclick="() => DeactivateUser(user)">Deactivate</button>
                            }
                            else 
                            {
                                <button class="btn btn-primary" @onclick="() => ActivateUser(user)">Activate</button>
                            }
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
}



@code {

}
